@use '../util/' as u;

.button {
  padding: 20px 22px;
  color: var(--white);
  font-weight: 400;
  line-height: 1;
  background-color: var(--orange);
  border-radius: 999px;
  transition: all 500ms cubic-bezier(0.23, 1, 0.32, 1);
  overflow: hidden;
  position: relative;
  text-decoration: none;
  z-index: 1;
  
  @include u.breakpoint-up(large) {
    padding: clamp(1.125rem, 0.4795454545454546rem + 1.8181818181818181vh, 1.25rem) 1.5rem;
  }
  
  &:hover {
    cursor: pointer;
      color: var(--white);
      background-color: var(--purple);
  }
}