:root {
  //colors
  --yellow: #f7f5e8;
  --green: #88c4a6;
  --white: #ffffff;
  --gray: #c0c0c0;
  --black: #2b2b2b;
  --purple: #c699fa;
  --blue: #123d68;
  --orange: #ff583e;
  --bg: #f1edfc;

  //variables
  --padding: clamp(4rem, -5.940000000000001rem + 28.000000000000004vh, 7.5rem);
  --padding-header: clamp(0.5rem, -0.20999999999999996rem + 2vh, 0.75rem);
}
