:root {
    --yellow: #f7f5e8;
    --green: #88c4a6;
    --white: #ffffff;
    --gray: #c0c0c0;
    --black: #2b2b2b;
    --purple: #c699fa;
    --blue: #123d68;
    --orange: #ff583e;
    --bg: #f1edfc;
}
