/* fraunces-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'Libre Baskerville';
    font-style: normal;
    font-weight: 400;
    src: url('../../assets/fonts/libre-baskerville-v14-latin-regular.woff2') format('woff2');
}
  /* fraunces-600 - latin */
@font-face {
    font-display: swap;
    font-family: 'Libre Baskerville';
    font-style: normal;
    font-weight: 700;
    src: url('../../assets/fonts/libre-baskerville-v14-latin-700.woff2') format('woff2');
}

/* manrope-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    src: url('../../assets/fonts/inter-v13-latin-500.woff2') format('woff2');
}