@use '../util/' as u;

.about {
    padding: 120px 0;
    background-color: var(--white);
    color: var(--black);
    position: relative;

    @include u.breakpoint-down(small) {
        padding: 80px 0;
        margin-top: 0;
    }
    @include u.breakpoint-down(xsmall) {
        gap: 80px;
    }

    // &__wrapper {
    // }
    &__content {
        display: flex;
        align-items: center;
        gap: clamp(2.5rem, -4.202852614896989rem + 13.946117274167987vw, 8rem);

        @include u.breakpoint-down(medium) {
            flex-direction: column;
            gap: 4rem;
        }
    }
    &__text {
        width: 50%;

        @include u.breakpoint-down(medium) {
            width: 100%;
        }
        h2 {
            margin-bottom: 2rem;
        }
    }
    &__image-wrapper {
        width: 50%;
        height: auto;

        @include u.breakpoint-down(medium) {
            width: 100%;
        }
    }
    &__image {
        width: 100%;
        height: 100%;
        max-height: 700px;
        object-fit: cover;
        border-radius: 1.125rem;

        @include u.breakpoint-down(medium) {
            width: 100%;
            max-height: 600px;
        }
        // @include u.breakpoint-down(midlarge) {
        //     height: 600px;
        // }
        // @include u.breakpoint-down(small) {
        //     height: 500px;
        // }
        // @include u.breakpoint-down(xsmall) {
        //     height: 400px;
        // }
    }
}