@use "../util/" as u;

.about {
  color: var(--white);
  padding: 0;
  position: relative;

  @include u.breakpoint-down(small) {
    padding: 80px 0;
    margin-top: 0;
  }
  @include u.breakpoint-down(xsmall) {
    padding: 80px 0 0;
    gap: 80px;
  }

  &__wrapper {
    background-color: var(--dark-purple);
    padding: 4rem;
    border-radius: var(--b-radius);

    @include u.breakpoint-down(midlarge) {
      padding: 2.5rem;
    }
    @include u.breakpoint-down(small) {
      padding: 2rem;
    }
  }
  &__content {
    display: flex;
    align-items: center;
    gap: clamp(2.5rem, -4.202852614896989rem + 13.946117274167987vw, 8rem);

    @include u.breakpoint-down(medium) {
      flex-direction: column;
      gap: 4rem;
    }
  }
  &__text {
    width: 55%;

    @include u.breakpoint-down(medium) {
      width: 100%;
    }
    h2 {
      margin-bottom: 2rem;
    }
  }
  &__image-wrapper {
    width: 45%;
    height: auto;
    display: flex;
    justify-content: flex-end;
    position: relative;

    @include u.breakpoint-down(medium) {
      width: 100%;
    }
  }
  &__image:nth-of-type(1) {
    width: 70%;
    height: 100%;
    max-height: 500px;
    object-fit: cover;
    border-radius: var(--b-radius);
    position: relative;
    z-index: 1;

    @include u.breakpoint-down(midlarge) {
      width: 80%;
    }
    @include u.breakpoint-down(medium) {
      width: 100%;
    }
    @include u.breakpoint-down(small) {
      object-position: center 40%;
      max-height: 400px;
    }
    @include u.breakpoint-down(xsmall) {
      max-height: 300px;
    }
  }
  &__image:nth-of-type(2) {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);

    @include u.breakpoint-down(midlarge) {
      width: 300px;
    }
    @include u.breakpoint-down(medium) {
      display: none;
    }
  }
  &__design-element {
    width: 100%;
    position: absolute;
    top: calc(0% - 1px);;
    z-index: -1;
  }
}
