@use "../util/" as u;

.cta {
  color: var(--white);
  background-color: var(--dark-purple);
  position: relative;
  overflow: hidden;

  @include u.breakpoint-down(small) {
    display: flex;
    flex-direction: column;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8rem;
    padding: var(--padding) 0;

    @include u.breakpoint-down(small) {
      flex-direction: column;
      padding: 80px 0;
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    width: 60%;

    @include u.breakpoint-down(small) {
      width: 100%;
    }

    h2 {
      margin-bottom: 2.5rem;

      @include u.breakpoint-down(small) {
        margin-bottom: 1.5rem;
      }
    }
    p {
      margin-bottom: 1.5rem;
    }
  }
  &__button {
    width: fit-content;
  }
  &__image {
    position: absolute;
    top: 0;
    right: 0;
    width: 35%;
    height: 100%;
    object-fit: cover;
    object-position: left;

    @include u.breakpoint-down(small) {
      object-position: left 20%;
      position: relative;
      width: 100%;
      max-height: 500px;
      order: -1;
    }
  }
}
