@use "../util/" as u;

.footer {
  background-color: var(--background);
  padding: 80px 0 40px;

  @include u.breakpoint-down(xsmall) {
    padding: 80px 0 40px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 2rem;

    @include u.breakpoint-down(small) {
      flex-direction: column;
    }
  }
  &__cta-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding-bottom: 2.5rem;
    border-bottom: 2px solid var(--black);
  }
  &__cta-headline {
    font-size: clamp(
      2rem,
      1.4074074074074074rem + 2.9629629629629632vw,
      3.5rem
    );
  }
  &__cta-button {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1rem;
    font-size: clamp(
      1rem,
      0.5229007633587787rem + 1.5267175572519083vw,
      1.5rem
    );

    svg {
      width: clamp(1rem, 0.5229007633587787rem + 1.5267175572519083vw, 1.5rem);
      height: clamp(1rem, 0.5229007633587787rem + 1.5267175572519083vw, 1.5rem);
    }
  }
  &__logo {
    max-width: 260px;
  }
  &__info-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 2rem;
  }
  &__socials,
  &__address,
  &__navigation,
  &__newsletter {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;

    .footer__info-title {
      font-weight: 600;
    }

    a {
      width: fit-content;
      color: var(--black);
    }
  }
  &__address,
  &__newsletter {
    flex: 2;
  }
  &__address > span:nth-of-type(2),
  &__address > a:nth-of-type(1),
  &__newsletter > span:nth-of-type(2) {
    margin-bottom: 1rem;
  }
  &__link {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    color: var(--black);
    cursor: pointer;

    &:hover {
      color: var(--orange);
    }
  }
  &__newsletter-form {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    input {
      width: 100%;
      color: var(--white);
      font-weight: 400;
      line-height: 1;
      background-color: var(--light-orange);
      padding: 20px 22px;
      border-radius: 999px;
      border: 0;
      overflow: hidden;
    }
    input::placeholder {
      color: var(--white);
    }
    input:focus {
      outline: 0;
      border: 0;
      background-color: var(--orange);
    }
    button {
      background-color: var(--light-orange);
      border: 0;
      border-radius: 50%;
      
      &:hover {
        background-color: var(--orange);
      }
    }
  }
}
