@use "../util/" as u;

.footer {
  color: var(--white);
  background-color: #262138;
  padding: 80px 0 40px;

  @include u.breakpoint-down(xsmall) {
    padding: 80px 0 40px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--orange);
    padding: 4rem;
    border-radius: var(--b-radius);

    @include u.breakpoint-down(midlarge) {
      padding: 2.5rem;
    }
    @include u.breakpoint-down(small) {
      padding: 2rem;
    }
  }
  &__cta-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding-bottom: 2.5rem;
    border-bottom: 2px solid var(--white);

    @include u.breakpoint-down(small) {
      flex-direction: column;
      align-items: flex-start;
      gap: 2rem;
    }
  }
  &__cta-headline {
    font-size: clamp(
      2rem,
      1.4074074074074074rem + 2.9629629629629632vw,
      3.5rem
    );
  }
  &__cta-button {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1rem;
    font-size: clamp(
      1rem,
      0.5229007633587787rem + 1.5267175572519083vw,
      1.5rem
    );

    svg {
      width: clamp(1rem, 0.5229007633587787rem + 1.5267175572519083vw, 1.5rem);
      height: clamp(1rem, 0.5229007633587787rem + 1.5267175572519083vw, 1.5rem);
    }
  }
  &__logo-wrapper {
    width: fit-content;
  }
  &__logo {
    max-width: 260px;

    @media (max-width: 375px) {
      max-width: 100%;
    }
  }
  &__info-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 2rem;

    @include u.breakpoint-down(midlarge) {
      flex-wrap: wrap;
    }
    @include u.breakpoint-down(small) {
      flex-wrap: wrap;
    }
  }
  &__address,
  &__socials,
  &__navigation,
  &__newsletter {
    flex: 1;
    display: flex;
    flex-direction: column;

    .footer__info-title {
      font-weight: 600;
    }

    a {
      width: fit-content;
      color: var(--white);
    }
  }
  &__address {
    flex: 2;
    
    @include u.breakpoint-down(small) {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 2rem;
      min-width: 100%;
    }
    @include u.breakpoint-down(xsmall) {
      gap: 2rem;
    }

    &-group:nth-of-type(1) {
      width: 100%;
    }
    &-group:nth-of-type(2), &-group:nth-of-type(3) {
      flex: 1;
    }
  }
  &__address-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;

    @include u.breakpoint-down(small) {
      margin-bottom: 0;
    }
  }
  &__navigation {
    @include u.breakpoint-down(xsmall) {
      display: none;
    }
  }
  &__link {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    color: var(--black);
    transition: color 500ms cubic-bezier(0.23, 1, 0.32, 1);
    cursor: pointer;

    &:hover {
      color: var(--dark-purple);
    }
  }
  &__newsletter {
    flex: 2;

    @include u.breakpoint-down(midlarge) {
      min-width: 100%;
    }
  }
  &__newsletter > span:nth-of-type(2) {
    margin-bottom: 1rem;
  }
  &__newsletter-form {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    input {
      width: 100%;
      max-width: 360px;
      color: var(--white);
      font-weight: 400;
      line-height: 1;
      background-color: var(--light-orange);
      padding: 20px 22px;
      border: 0;
      border-radius: 999px;
      overflow: hidden;
      transition: background-color 500ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    input::placeholder {
      color: var(--white);
    }
    input:focus {
      outline: 0;
      border: 0;
      background-color: var(--dark-purple);
    }
    button {
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--white);
      background-color: var(--light-orange);
      padding: 20px 22px;
      border: 0;
      border-radius: 999px;
      transition: background-color 500ms cubic-bezier(0.23, 1, 0.32, 1);
      overflow: hidden;
      cursor: pointer;

      &:hover {
        background-color: var(--dark-purple);
      }

      svg {
        width: 22px;
      }
    }
  }
}
