@use "../util/" as u;

.testemonials {
  color: var(--white);
  background-color: var(--dark-purple);
  padding: var(--padding);
  position: relative;
  z-index: 1;

  @include u.breakpoint-down(small) {
    padding: 80px 0;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
  }
  &__card {
    display: flex;
    flex-direction: column;
    background-color: #1e1b2a;
    padding: 2.5rem;
    border-radius: var(--b-radius);
    overflow: hidden;
    position: relative;
  }
  &__card-design-element {
    width: 280px;
    position: absolute;
    top: 50%;
    left: calc(100% - 140px);
    transform: translate(0%, -50%);
    z-index: 1;
  }
  &__card-text {
    width: 60%;
    font-size: 24px;
    margin-bottom: 2.5rem;
  }
  &__card-author {
    display: flex;
    align-items: center;
    gap: 1rem;

    img {
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
    }
  }
  &__design-element:nth-of-type(1) {
    width: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: -1;
  }
  &__design-element:nth-of-type(2) {
    width: 100%;
    position: absolute;
    bottom: 0%;
    left: 0%;
    z-index: -1;
  }
}
